@import 'partials/normalize';

@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities';
@import 'bootstrap/grid';

@import 'partials/global';
@import 'partials/contact';
@import 'partials/header';
@import 'partials/home';
@import 'partials/products';
@import 'partials/settings';
@import 'partials/icons';
