body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

#pages > section {
  display: none;

  &.active {
    display: block;
  }
}

.section-header {
  color: $color-main;
  font-size: 60px;
  letter-spacing: 6px;
  font-weight: $font-bold;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

.section-header::after {
  position: absolute;
  content: '';
  bottom: -50px;
  left: 50%;
  width: 500px;
  height: 5px;
  transform: translateX(-50%);
  background: $color-main;
}

@media (max-width: 767px) {
  .container {
    padding: 0px;
  }
  .main-nav a {
    font-size: 10px;
  }
  .page-title {
    font-size: 45px;
  }
  .product {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}
