body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

#pages > section {
  display: none;

  &.active {
    display: block;
  }
}

.section-header {
  color: $color-main;
  font-size: 60px;
  letter-spacing: 6px;
  font-weight: $font-bold;
  text-align: center;
  margin-bottom: 100px;
}

.section-header::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 50%;
  width: 300px;
  height: 5px;
  transform: translateX(-50%);
  background: $color-main;
}
