.navigation {
  background: rgba(0, 0, 0, 0.7) url('../../images/background.png');
  background-blend-mode: darken;
  color: $color-light;
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.company-name {
  font-weight: $font-black;
  font-size: 40px;
  letter-spacing: 6px;
  margin-bottom: 0px;
}

.company-name-next {
  font-weight: $font-bold;
  font-size: 18px;
  letter-spacing: 4px;
  margin-top: 5px;
}

.page-title {
  color: $color-main;
  font-size: 80px;
  letter-spacing: 13px;
  text-align: left;
  margin: 0 40px;
  font-weight: $font-bold;
  position: relative;
}

.page-title::after {
  position: absolute;
  content: '';
  bottom: -50px;
  left: 50%;
  width: 170px;
  height: 5px;
  transform: translateX(-50%);
  background: $color-main;
}

.page-subtitle {
  margin-top: 150px;
  letter-spacing: 3px;
  font-weight: $font-normal;
}

.page-title-next {
  text-align: right;
}

.splash {
  text-align: center;
}

.main-nav {
  list-style-type: none;

  a {
    text-decoration: none;
    color: $color-light;
    letter-spacing: 1px;
    font-size: 20px;
  }

  li {
    display: inline;
    margin-right: 25px;
  }
}

.col-7 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.icon-down-circled {
  font-size: 30px;
}
