.about {
  background: rgba(0, 0, 0, 0.7) url('../../images/about-us.jpg');
  background-blend-mode: darken;
  color: $color-light;
  width: 100%;
  height: 500px;
  object-fit: cover;
  button {
    display: none;
  }
}

.flickity-page-dots {
  display: none;
}

.carousel-cell {
  width: 100%;
  display: flex;
  img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
  }
}

.carousel-text {
  width: 300px;
}

.employee-name {
  font-size: 25px;
  font-weight: $font-semibold;
  letter-spacing: 1px;
}

.surname {
  font-weight: $font-bold;
}

.employee-description {
  font-weight: $font-semibold;
  font-style: italic;
}

footer {
  margin-top: 35px;
  text-align: center;
  font-size: 10px;
}
